<!--Criar o container-->
<!-- cardTitle, cardDescription, photoCover são propriedades criadas no arquivo big-card.component.ts-->
<!-- Chamar o routerlink com as propriedades criadas no arquivo big-card.component.ts-->

<div class="container__big-card">

  <div class="big-card__photo">
    <img src= {{photoCover}} alt="" height="198px">

  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content',id]">{{cardTitle}}</a></h1>

  </div>
  <div class="big-card__description">
    <p>
      <a [routerLink]="['content',id]">
        {{cardDescription}}
      </a>
    </p>

  </div>
</div>

